{block:Posts}
.post
  - (1..10).to_a.each do |i|
    = "{block:Post#{i}}"
    .content
      = Haml::Engine.new(File.read('templates/post.haml')).render
    = "{/block:Post#{i}}"
  
{block:PostNotes}
.notelist
  %h3
    {PostNotes}
{/block:PostNotes}    
{block:Posts}